/* Impostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #a8a8a8;
    color: #46fa32;

    /* Font */
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 125%; /* Base: 16px */
}

/* Stile del cursore personalizzato */
#custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgb(20, 20, 20);
    border-radius: 50%; /* Per renderlo circolare */
    pointer-events: none; /* Evita che interferisca con i click */
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.1s ease, border 0.1s ease; /* Limita la transizione */
}

/* Stile del cursore sopra i link */
#custom-cursor.link-hover {
    background-color: transparent;
    border: 1px solid rgb(20, 20, 20);
    width: 100px;
    height: 100px;
}

/* Animazione per il testo su hover */
a {
    text-decoration: none;
    letter-spacing: 0px;
    transition: letter-spacing 0.3s ease; /* Animazione fluida */
}

a:hover {
    letter-spacing: 1px; /* Aumenta lo spacing tra le lettere */
}