/* Impostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial Narrow;
    overflow: hidden;
    background-color: #000000;
}

.body-home {
    cursor: none;
}

#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* Trasparente */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Mantiene il menu sopra gli altri elementi */
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.menu-item {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.menu-item {
    text-decoration: none; /* Nessuna decorazione iniziale */
    transition: text-decoration 0.3s ease; /* Transizione per un effetto più fluido */
}

.menu-item:hover {
    text-decoration: line-through; /* Aggiunge la barra quando il cursore è sopra */
}

.menu-item-current {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    filter: blur(2px);
}

#voceabout{
    padding-right: 5px;
    padding-left: 0px;
}

#vocearchivio{
    padding-left: 5px;
    padding-right: -1px;
}

/* Contenuto principale */
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
}

.content-about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: left;
    margin-left: 15.5px;
    padding-left: 0px;
    margin-top: 75px;
    overflow: auto;
    font-size: 20px;
}

.content-archivio {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15.5px;
    margin-top: 75px;
    font-size: 20px;
}

.content-login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 1.25;
    align-items: center; /* Centra orizzontalmente */
    justify-content: center; /* Centra verticalmente */
}

.content-chat {
    display: flex;
    flex-direction: column;
    height: 500vh;
    width: 100vw;
    color: white;
    text-align: left;
    margin-left: 25px;
    padding-left: 5px;
    margin-top: 25px;
    font-size: 20px;
}

#qrcode {
    display: block;
    width: 142.5px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 275px;
    width: 400px;
    position: relative;
    z-index: 2;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cartella1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    width: 100px;
    position: relative;
}

#cartella2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100px;
    position: relative;
}

/* Titoli */
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
}

/* Pulsanti */
.bottoni {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 1);
    padding: 15px 30px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}

/* Pulsante nella Homepage */
.start-button {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background: transparent;
    padding: 15px 30px;
}

.text-bottom-left {
    position: absolute;
    bottom: 17px; /* Distanza dal bordo inferiore */
    left: 20px;   /* Distanza dal bordo sinistro */
    color: #ffffff;  /* Colore del testo, personalizzabile */
    font-size: 20px; /* Dimensione del testo */
    text-align: left;
}

.text-bottom-right {
    position: absolute;
    bottom: 17px; /* Distanza dal bordo inferiore */
    right: 20px;  /* Distanza dal bordo destro */
    color: #ffffff;
    font-size: 20px;
    text-align: right;
}

#custom-cursor {
    bottom: -20px; /* Distanza dal bordo inferiore */
    position: absolute;
    pointer-events: none; /* Rende l'elemento "trasparente" ai clic */
    font-size: 20px; /* Dimensione del testo del cursore */
    color: #ffffff; /* Colore del testo */
}

#chatId {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: #000000;
    color: #ffffff;
    font-size: 30px;
    font-family: Arial Narrow;
    width: 140px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 75vh;
    margin-top: 25px; /* Spazio per il testo sopra */
    color: #ffffff; /* Colore del testo */
}

.image-container a {
    cursor: pointer;
}

.articoli {
    margin-left: 15.5px;
    margin-right: 15.5px;
    display: grid;
    height: 45px;
    grid-template-columns: 113px 1268px 100px 100px 100px; /* Distanze diverse */
    padding-left: 0%;
    position: relative;
}

.articoli:hover {
    background-color: #ffffff;
    color: black; /* Colore del testo */;
}
  
.articoli p {
    padding: 10px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.image-hover{
    display: none;
    transform: translateY(-38.5%);
    pointer-events: none; /* Impedisce che il mouse interagisca con l'immagine */
}

.articoli:hover .image-hover {
    display: block;
}

.button-container {
    width: 27.5%;
    padding-left: 11px;
    display: flex; /* Attiva il layout Flexbox */
    justify-content: space-between; /* Spazi uguali tra gli elementi */
    align-items: center; /* Allinea i pulsanti verticalmente */
    padding-bottom: 25px;
}

.button-container a:hover{
    text-decoration: line-through;
}

.image-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.image-item img {
    width: 80px; /* Dimensione delle immagini */
    height: 80px;
    object-fit: cover;
}
  
.image-item p {
    margin-top: -5px;
    font-size: 16px;
    color: #ffffff;
}

.blur-darken {
    transition: filter 2s ease, opacity 2s ease;
    filter: blur(5px) brightness(0.0);
    opacity: 0.5;
}

/* INIZIO logo nell'header */

.logo-container {
  position: relative;
  display: inline-block;
}

.logo-container img {
  display: block;
}

.hover-line {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7.5px;
  margin-left: -4.25px;
  width: 115%;
  height: 0.75px; /* Altezza della riga */
  background-color: white; /* Colore della riga */
  transform: scaleX(0); /* Nasconde la riga inizialmente */
  transform-origin: center;
  transition: transform 0.0000001s ease;
}

.logo-container:hover .hover-line {
  transform: scaleX(1); /* Mostra la riga quando il mouse è sopra */
}

/* FINE logo nell'header */


/* Immagini hover nell'archivio */

#hover-image-container {
    pointer-events: none; /* Impedisce che il mouse interagisca con l'immagine */
}

.fade-in {
    opacity: 0;
    filter: blur(5px) brightness(0.0);
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
to {
    opacity: 1;
    filter: blur(0px) brightness(1.0);
}
}